{% extends "base.html.twig" %}



{% block body %}

<h1 class="bg-blue-500 text-2xl text-center font-bold">Hello, World!</h1>

    <img src="{{ asset('build/images/img001.1745e7ac.jpg') }}">
{% endblock %}